body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-rows: 10% 65% 4% 17% 4%;
  height: 1200px;
}

header {
  background-color: blue;
  grid-row: 1;
}

h1 {
  color: #fff;
  font-size: 4em;
  margin: 5px auto;
  text-align: center;
}

main {
  align-content: center;
  display: grid;
  grid-row: 2;
  grid-template-rows: 6% 94%;
}

.user-answer-form, .current-answer {
  grid-row: 1;
  margin-top: 10px;
  text-align: center;
}

#user-answer {
  width: 250px;
}

.answer-submit {
  height: 27px;
}

.hidden {
  visibility: hidden;
}

.board  {
  border: 2px solid black;
  display: grid;
  grid-row: 3;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 90%;
  margin: 30px auto;
  text-align: center;
  width: 90%;
}

h2 {
  color: #fff;
}

article {
  background-color: gray;
  border: 2px black solid;
}

h3 {
  color: #fff;
  font-size: 2.25em;
  margin: 40px 0;
  padding-bottom: 40px;
}

.col {
  color: #fff;
  font-size: 1.10em;
}

.col:hover {
  background-color: blue;
}

.round {
  grid-row: 3;
  margin-top: 15px;
}

h4 {
  font-size: 2em;
  margin: 0;
  margin-top: 15px;
  text-align: center;
}

.players {
  display: grid;
  grid-row: 4;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-top: 15px;
}

.player-one {
  grid-column: 1;
}

.player-two {
  grid-column: 2;
}

.player-three {
  grid-column: 3;
}

.player-name {
  margin-bottom: 10px;
}

.eachPlayer {
   margin-top: 20px;
   text-align: center;
}

label {
  font-size: 1.25em;
}

.player-input {
  height: 20px;
  margin-top: 10px;
  width: 65%;
}

h5 {
  font-size: 1.25em;
  margin-top: 7px;
  margin: 0;
}

h6 {
  font-size: 3.25em;
  margin: 0;
}

footer {
  grid-row: 5;
  text-align: center;
}

.start, .quit {
  font-size: 1.1em;
  height: 30px;
  margin: 0 20px 20px;
  width: 200px;
}

button:hover {
  background-color: blue;
  color: #fff;
}